body, html {
    height: 100%;
}
body {
    background-color: rgb(123, 167, 206);
}
.form-title {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}
.form-class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.two-inputs {
    display: flex;
    justify-content: space-around;
    width: 70vw;
    margin-top: 5vh;
    
}
.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 10vh;
    width: 70vw;
    
}
.error {
    border-color: red;
    color: red;
}
.weather-list {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 70v;
}
.buttons-menu {
    display: flex;
    justify-content: center;
}
.weather-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 70vh;
    list-style: none;
    overflow-y: scroll;
    justify-content: space-around;
}
